body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    padding-bottom: 40px;
    background-color: #f5f5f5;
    height:100%;
    margin:O;
}

html{
height:100%;
margin:0;
}

.form-narrow {
    max-width: 490px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

 .ui-layout-pane {
        background: #FFF;
        }

 .ui-layout-resizer {
        background: #DDD;
        }

 .ui-layout-resizer:hover {
        background: #FED;
        }

 .ui-layout-resizer-west {
        border-left: 0px solid #BBB;
        }

 .ui-layout-resizer-east {
        border-right: 1px solid #BBB;
        }

 .ui-layout-toggler {
        background: #AAA;
        }

 .ui-layout-toggler:hover {
        background: #FC3;
        }

 .ui-layout-south {
    /*background: #C1C1C1;*/
 }

 .box{  height:105%;
        margin:0 auto;
        margin-left: 7px;
        margin-right: 7px;
 }

 .save, .load, .launch, .stop, .pause, .debug {
    margin:0 auto;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom:0px;
 }


 .mapRed {
    background:#FE2E2E;
    font-weight: bold;
 }

.mapBlue {
    background:#2E64FE;
    font-weight: bold;

}

.mapFood {
    background:#2EFE2E;
    font-weight: bold;
}


.mapNameAgent {
    background:#FE9A2E;
    font-weight: bold;
}

.mapNameTeam {
    background:#FE642E;
    font-weight: bold;
}

.mapAgentOther {
    background:#F7FE2E;
    font-weight: bold;
}

.mapAgentName {
    background:#FACC2E;
    font-weight: bold;
}

h3 {
     text-align: center;
}



.searchZoneTest {
    margin-top:40px;
}

#tableListTestZone {
   width:95%;
    margin-left:2.5%;
    margin-right:2.5%;
}

#contenerTableTestZone {
    margin-top : 40px;
}

.toolsTestZone {
    width:16%;
}

.levelTestZone {
    width:5%;
}

.titleTestZone {
    font-weight: bold;
}

.idTestZone {
    width:6%;
}

#console{
overflow: auto;
}

#contenerTools {
    background-color: #707070 ;
    height:60px;
    width:100%;
    margin-top: -10px;
    padding-top: 12px;
}

select {
    cursor:pointer;
}

.contenerMapEditor {
   height:94%;
   margin:0 auto;
   margin-left: 7px;
   margin-right: 7px;
}

#resumeMapEditor {
    background-color: #000000 ;
}