<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Warbot Online - About</title>
    <object th:include="fragments/header :: head" th:remove="tag"/>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="text-center">
        <p id="page-about" class="lead">
            Warbot étant a la base une application Java, cette application web est le fruit d'un projet de première
            année de Master mené a bien par 4 étudiants : BEUGNON Sébastien / DUMAS Geoffrey / LOPEZ Jimmy / PHILBERT
            Quentin.
        </p>
    </div>
</div>
</body>
</html>