<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Manual</title>
    <link href="../../../resources/css/bootstrap.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
</head>
<body>

<div th:replace="fragments/header :: header">Header</div>

<fieldset>

    <div>
    <h1> User Manual</h1>

    <a href="#anchor">Link Text</a>


    </div>
</fieldset>
</body>
</html>