<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="../../../resources/images/favicon.jpg" th:href="@{resources/images/favicon.jpg}" />

    <title>Team Code</title>
    <link href="../../../resources/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />

</head>
<body>

    <div th:replace="fragments/header :: header">Header</div>

    <div class="container">
        Warbot étant a la base une application Java, cette application web est le fruit d'un projet de première année de Master mené a bien par 4 étudiants : BEUGNON Sébastien / DUMAS Geoffrey / LOPEZ Jimmy / PHILBERT Quentin.
    </div>
</body>
</html>