<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="../../../resources/images/faviconWbO.png" th:href="@{resources/images/faviconWbO.png}" />

    <title>Team Code</title>
    <link href="../../../resources/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />

</head>
<body>

    <div th:replace="fragments/header :: header">Header</div>
    <div class="container">
        <div class="text-center">
            <p  id="page-about" class="lead">
                Warbot étant a la base une application Java, cette application web est le fruit d'un projet de première année de Master mené a bien par 4 étudiants : BEUGNON Sébastien / DUMAS Geoffrey / LOPEZ Jimmy / PHILBERT Quentin.
            </p>
        </div>
    </div>
</body>
</html>