<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="../../../resources/images/faviconWbO.png" th:href="@{resources/images/faviconWbO.png}"/>

    <title>Team Code</title>
    <link href="../../../resources/css/bootstrap.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>

</head>
<body>

<div th:replace="fragments/header :: header">Header</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm">
                <form class="form-horizontal" action="" method="post" th:action="@{/sendcontact}">
                    <fieldset>
                        <legend class="text-center" th:text="#{feedback.contact.contact}">Contact us</legend>

                        <!-- Name input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="cantactName" th:text="#{feedback.contact.nom}">Name</label>

                            <div class="col-md-9">
                                <input id="cantactName" name="name" type="text" readonly="readonly" th:value="${login}"
                                       class="form-control"/>
                            </div>
                        </div>

                        <!-- Email input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="contactEmail"
                                   th:text="#{feedback.contact.votreMail}">Your E-mail</label>

                            <div class="col-md-9">
                                <input id="contactEmail" name="email" readonly="readonly" type="text"
                                       th:value="${email}" class="form-control"/>
                            </div>
                        </div>

                        <!-- Message body -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="contactMessage"
                                   th:text="#{feedback.contact.votreMessage}">Your message</label>

                            <div class="col-md-9">
                                <textarea class="form-control" id="contactMessage" name="message"
                                          th:placeholder="#{feedback.contact.votreMessage}" rows="5"></textarea>
                            </div>
                        </div>

                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary btn-lg"
                                        th:text="#{feedback.contact.envoyer}">Submit
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>