<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="../../../resources/images/faviconWbO.png" th:href="@{resources/images/faviconWbO.png}" />

    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <p th:text="#{home.SignedIn.Bienvenue}">Welcome to the Warbot Online,</p> <span th:text="${account.email}">email</span> !

    <h2 th:text="#{home.SignedIn.action}">Actions</h2>
    <a class="btn btn-primary" th:href="@{/party/create}" th:text="#{home.SignedIn.creePartie}">Create a party</a>
    <a href="./configuration/new" th:href="@{/configuration/new}" class="btn btn-success" th:text="#{home.SignedIn.creeSalle}" >Créer une salle d'entrainement</a>
    <a th:href="@{/partylist}" class="btn btn-danger" th:text="#{home.SignedIn.trouverUnAdversaire}">Trouver un adversaire</a>

    <h2 th:text="#{home.SignedIn.equipe}" >Parties</h2>
    <p th:if="${parties.size()}==0">
        <span th:text="#{home.SignedIn.pasDequipe}">dont have team</span>
    </p>

    <table id="myListParties" class="table table-bordered" th:if="${parties.size()}>0">
        <thead>
        <tr>
            <th>#</th>
            <th th:text="#{home.SignedIn.nomEquipe}">Team name</th>
            <th th:text="#{home.SignedIn.createur}">Creator</th>
            <th th:text="#{home.SignedIn.nombreDeMembre}">Number of member</th>
            <th th:text="#{home.SignedIn.langage}">Language</th>
            <th th:text="#{home.SignedIn.rang}">Rank</th>
            <th th:text="#{home.SignedIn.outils}">Tools</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="party : ${parties}">
            <th><p th:text="${party.id}"></p></th>
            <th><a th:href="'/party/show?id='+${party.id}" th:text="${party.name}"> </a></th>
            <th><a th:href="'/account/userProfile?id='+${party.creator.id}" th:text="${party.creator.screenName}"></a></th>
            <th><p th:text="${party.getMembers().size()}"></p></th>
            <th><p th:text="${party.language}"></p></th>
            <th><p th:text="${party.eloRank}"></p></th>
            <th>
                <a th:href="@{/teamcode}+'?idParty='+${party.id}" class="btn btn-primary" th:text="#{home.SignedIn.lancer}">Use</a>
                <a href="#" class="btn btn-danger deleteParty" th:text="#{home.SignedIn.supprimer}" th:value="${party.id}" th:onclick="'javascript:createFormDelete(\'' + ${party.id} + '\', \'' + ${party.name} + '\');'">Delete</a>
            </th>
        </tr>
        </tbody>
    </table>

    <div id="modalDeleteParty" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" th:text="#{home.SignedIn.modalDelete.title}">Delete Party</h4>
                </div>
                <div class="modal-body">
                    <p>Cette action va supprimer définitivement votre équipe :</p>

                    <p id="namePartyToDelete"></p>

                    <p>Etes vous sur de vouloir vraiment supprimer cette équipe ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                    <button id="confirmDeleteParty" type="button" class="btn btn-danger">Delete</button>
                </div>
                <form id="formDeleteParty" method="GET" th:action="@{/party/delete}">
                    <div class="col-xs-0 selectContainer">
                        <input type="hidden" id="contenerIdParty" name="id"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">


        var modalDelete = document.getElementById('modalDeleteParty');
        var formDeleteParty = document.getElementById('formDeleteParty');

        $("#confirmDeleteParty").click(function (event) {
            formDeleteParty.submit();
        });

        function createFormDelete(idP, nameP) {
            var namePartyToDelete = document.getElementById('namePartyToDelete');
            $(namePartyToDelete).text(nameP);
            var contenerIdParty = document.getElementById('contenerIdParty');
            $(contenerIdParty).val(idP);
            $(modalDelete).modal('show');
        };

</script>
</body>
</html>