<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}" >Warbot - Online</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="text-center">
        <h1 th:text="#{home.homeNotSignedIn.messageHome}">Bienvenue sur Warbot Online</h1>
        <p class="lead">
            Warbot est à la fois un jeu et une plate-forme d'évaluation
            et d'analyse de techniques de coordination entre agents, dans
            une situation de compétition où deux équipes de "robots"
            s'affrontent pour tuer la base de l'adversaire.

            Dans ce projet, les joueurs sont en fait les développeurs des
            agents. Mais ils ne doivent faire qu'une seul chose: développer
            les "cerveaux" (brain) de ces robots sachant que les "corps"
            (body) sont définis une fois pour toutes par les règles du jeu.
            De ce fait, la compétition réside dans la qualité de la
            programmation de ces cerveaux, et dans les stratégies de
            coordination proposées
        </p>
        <p>
            <a href="/signup" th:href="@{/signup}" class="btn btn-success btn-lg" th:text="#{home.homeNotSignedIn.inscription}" >Sign in</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>
</body>
</html>