<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="../../../resources/images/favicon.jpg" th:href="@{resources/images/favicon.jpg}" />

    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <p th:text="#{home.SignedIn.Bienvenue}">Welcome to the Warbot Online,</p> <span th:text="${account.email}">email</span> !

    <h2 th:text="#{home.SignedIn.action}">Actions</h2>
    <a class="btn btn-primary" th:href="@{/party/create}" th:text="#{home.SignedIn.creePartie}">Create a party</a>
    <a href="./configuration/new" th:href="@{/configuration/new}" class="btn btn-success" th:text="#{home.SignedIn.creeSalle}" >Créer une salle d'entrainement</a>
    <a th:href="@{/partylist}" class="btn btn-danger" th:text="#{home.SignedIn.trouverUnAdversaire}">Trouver un adversaire</a>

    <h2 th:text="#{home.SignedIn.equipe}" >Parties</h2>
    <p th:if="${parties.size()}==0">
        <span th:text="#{home.SignedIn.pasDequipe}">dont have team</span>
    </p>

    <table id="myListParties" class="table table-bordered" th:if="${parties.size()}>0">
        <thead>
        <tr>
            <th>#</th>
            <th th:text="#{home.SignedIn.nomEquipe}">Team name</th>
            <th th:text="#{home.SignedIn.createur}">Creator</th>
            <th th:text="#{home.SignedIn.nombreDeMembre}">Number of member</th>
            <th th:text="#{home.SignedIn.langage}">Langage</th>
            <th th:text="#{home.SignedIn.rang}">Rank</th>
            <th th:text="#{home.SignedIn.outils}">Tools</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="party : ${parties}">
            <th><p th:text="${party.id}"></p></th>
            <th><p th:text="${party.name}"> </p></th>
            <th></th>
            <th></th>
            <th><p th:text="${party.language}"></p></th>
            <th><p th:text="${party.eloRank}"></p></th>
            <th>
                <a th:href="@{/teamcode}+'?idParty='+${party.id}" class="btn btn-primary" th:text="#{home.SignedIn.lancer}">Use</a>
                <a href="#" class="btn btn-danger" th:text="#{home.SignedIn.supprimer}">Delete</a>
            </th>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>