<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${party.name}">x</title>
    <link href="../../../resources/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />

</head>
<body>

<div th:replace="fragments/header :: header">Header</div>

<div class="container">
    <span th:text="${party.name}">x</span>
    <!--<span th:text="${party.creator}">x</span>
    <span th:text="${party.members}">x</span>
    <span th:text="${party.}">x</span>-->
</div>


</body>
</html>

