<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Team Code</title>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />

    <script src="../../../resources/js/zone/jquery.js" th:src="@{/resources/js/zone/jquery.js}" ></script>
    <script src="../../../resources/js/zone/jquery.layout.js" th:src="@{/resources/js/zone/jquery.layout.js}" ></script>
    <script src="../../../resources/js/zone/jquery.ui.all.js" th:src="@{/resources/js/zone/jquery.ui.all.js}" ></script>

    <script src="../../../resources/js/editeur/ace/ace.js" th:src="@{/resources/js/editeur/ace/ace.js}" ></script>
    <script src="../../../resources/js/editeur/ace/theme-cobalt.js" th:src="@{/resources/js/editeur/ace/theme-cobalt.js}" ></script>
    <script src="../../../resources/js/editeur/ace/mode-python.js" th:src="@{/resources/js/editeur/ace/mode-python.js}" ></script>
    <script src="../../../resources/js/editeur/jquery-ace.min.js" th:src="@{/resources/js/editeur/jquery-ace.min.js}" ></script>


    <script src="../../../resources/js/zone.js" th:src="@{/resources/js/zone.js}" ></script>
    <script src="../../../resources/js/onglet.js" th:src="@{/resources/js/onglet.js}" ></script>
    <script src="../../../resources/js/editeur.js" th:src="@{/resources/js/editeur.js}" ></script>
</head>
<body>

<div th:replace="fragments/header :: header">Header</div>

<div class="box">
    <div class="outer-center">
        <div class="systeme_onglets" align="left">
            <div class="onglets">
                                    <span class="onglet_0 onglet" id="onglet_agent1" onclick="javascript:change_onglet('agent1');$('.my-code-area1').ace({ theme: 'cobalt', lang: 'python' })">Agent 1
                                    </span>
                                    <span class="onglet_0 onglet" id="onglet_agent2" onclick="javascript:change_onglet('agent2');$('.my-code-area2').ace({ theme: 'cobalt', lang: 'python' })">Agent 2
                                    </span>
                                    <span class="onglet_0 onglet" id="onglet_agent3" onclick="javascript:change_onglet('agent3');$('.my-code-area3').ace({ theme: 'cobalt', lang: 'python' })">Agent 3
                                    </span>
                                    <span class="onglet_0 onglet" id="onglet_agent4" onclick="javascript:change_onglet('agent4');$('.my-code-area4').ace({ theme: 'cobalt', lang: 'python' })">Agent 4
                                    </span>
                                    <span class="onglet_0 onglet" id="onglet_agent5" onclick="javascript:change_onglet('agent5');$('.my-code-area5').ace({ theme: 'cobalt', lang: 'python' })">Agent 5
                                    </span>
                                    <span class="onglet_0 onglet" id="onglet_agent6" onclick="javascript:change_onglet('agent6');$('.my-code-area6').ace({ theme: 'cobalt', lang: 'python' })">Agent 6
                                    </span>
            </div>
            <div class="contenu_onglets">
                <div class="contenu_onglet" id="contenu_onglet_agent1">
                    <textarea class="my-code-area1" rows="29" style="width: 100%">Code de l'agent 1</textarea>
                </div>
                <div class="contenu_onglet" id="contenu_onglet_agent2">
                    <textarea class="my-code-area2" rows="29" style="width: 100%">Code de l'agent 2</textarea>
                </div>
                <div class="contenu_onglet" id="contenu_onglet_agent3">
                    <textarea class="my-code-area3" rows="29" style="width: 100%">Code de l'agent 3</textarea>
                </div>
                <div class="contenu_onglet" id="contenu_onglet_agent4">
                    <textarea class="my-code-area4" rows="29" style="width: 100%">Code de l'agent 4</textarea>
                </div>
                <div class="contenu_onglet" id="contenu_onglet_agent5">
                    <textarea class="my-code-area5" rows="29" style="width: 100%">Code de l'agent 5</textarea>
                </div>
                <div class="contenu_onglet" id="contenu_onglet_agent6">
                    <textarea class="my-code-area6" rows="29" style="width: 100%">Code de l'agent 6</textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-west">

        <div class="middle-center">
            Partie stream
        </div>

        <div class="ui-layout-south">
            Partie Console
        </div>

    </div>
</div>


<script>
		var anc_onglet = 'agent1';
		change_onglet(anc_onglet);
</script>

<script src="../../../resources/js/sockjs.js" th:src="@{/resources/js/sockjs.js}" ></script>
<script src="../../../resources/js/stomp.js" th:src="@{/resources/js/stomp.js}" ></script>
<!-- application -->
<script src="../../../resources/js/webgame.js" th:src="@{/resources/js/webgame.js}" ></script>

<script>
      (function() {
        var socket = new SockJS('/warbot');
        var stompClient = Stomp.over(socket);

        var appModel = new WebGameModel(stompClient);
        //ko.applyBindings(appModel);

        appModel.connect();
        //appModel.pushNotification("Trade results take a 2-3 second simulated delay. Notifications will appear.");
      })();
    </script>

</body>
</html>

