<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Team Code</title>

    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="../../../resources/js/zone/jquery.js" th:src="@{/resources/js/zone/jquery.js}" ></script>
    <script src="../../../resources/js/zone/jquery.layout.js" th:src="@{/resources/js/zone/jquery.layout.js}" ></script>
    <script src="../../../resources/js/zone/jquery.ui.all.js" th:src="@{/resources/js/zone/jquery.ui.all.js}" ></script>
    <script src="../../../resources/js/zone.js" th:src="@{/resources/js/zone.js}" ></script>

    <script src="../../../resources/js/ace-builds-master/src-noconflict/ace.js" th:href="@{/resources/js/ace-builds-master/src-noconflict/ace.js}"></script>
    <script src="../../../resources/js/ace-builds-master/src-noconflict/ext-language_tools.js" th:href="@{/resources/js/ace-builds-master/src-noconflict/ext-language_tools.js}"></script>
    <script src="../../../resources/js/editeur.js" th:src="@{/resources/js/editeur.js}" ></script>
    <script src="../../../resources/js/pixi/pixi.js" th:src="@{/resources/js/pixi/pixi.js}" ></script>
    <script src="../../../resources/js/pixi/importTexture.js" th:src="@{/resources/js/pixi/importTexture.js}" ></script>
</head>
<body>

<div th:replace="fragments/header :: header">Header</div>

<div class="box">

    <div class="outer-center">

        <ul class="nav nav-tabs" id="myTab">
            <li><a data-toggle="tab" href="#Agent1">Agent 1</a></li>
            <li><a data-toggle="tab" href="#Agent2">Agent 2</a></li>
            <li><a data-toggle="tab" href="#Agent3">Agent 3</a></li>
            <li><a data-toggle="tab" href="#Agent4">Agent 4</a></li>
            <li><a data-toggle="tab" href="#Agent5">Agent 5</a></li>
            <li><a data-toggle="tab" href="#Agent6">Agent 6</a></li>
        </ul>
        <div class="tab-content">

            <div id="Agent1" class="tab-pane fade in active">
                <div id="editor1">Codez en python :-)   ctrl + espace pour l'auto-completion</div>
            </div>

            <div id="Agent2" class="tab-pane fade">
                <div id="editor2"></div>
            </div>

            <div id="Agent3" class="tab-pane fade">
                <div id="editor3"></div>
            </div>

            <div id="Agent4" class="tab-pane fade">
                <div id="editor4"></div>
            </div>

            <div id="Agent5" class="tab-pane fade">
                <div id="editor5"></div>
            </div>

            <div id="Agent6" class="tab-pane fade">
                <div id="editor6"></div>
            </div>

        </div>

    </div>

    <div class="outer-west">

        <div id="stream" class="middle-center">

        </div>

        <div class="ui-layout-south">
            <button id="launch-party-button">Launch party</button>
            <!--  <button onclick="myFunction()">Play</button>
             <button onclick="myFunction2()">Move1</button>
             <button onclick="myFuncFion3()">Create1</button>
             <button onclick="myFuncFion4()">Delete1</button>
             <button onclick="myFuncFion5()">Life1</button>
             <button onclick="myFuncFion6()">Food1</button>
             <button onclick="myFunction7()">Rotate1</button>
             <button onclick="myFunction8()">DebugMessage</button> -->
         </div>
     </div>
 </div>

 <script src="../../../resources/js/sockjs.js" th:src="@{/resources/js/sockjs.js}" ></script>
 <script src="../../../resources/js/stomp.js" th:src="@{/resources/js/stomp.js}" ></script>
 <!-- application -->
<script src="../../../resources/js/webgame.js" th:src="@{/resources/js/webgame.js}" ></script>
<script src="../../../resources/js/pixi/testMessage.js" th:src="@{/resources/js/pixi/testMessage.js}" ></script>
<script src="../../../resources/js/pixi/drawStreaming.js" th:src="@{/resources/js/pixi/drawStreaming.js}" ></script>


<script>
      (function() {
        var socket = new SockJS('/warbot');
        var stompClient = Stomp.over(socket);

        var appModel = new WebGameModel(stompClient);
        //ko.applyBindings(appModel);

        appModel.connect();
        $("#launch-party-button").click(function (event)
        {
            appModel.launchParty();

        });
        //appModel.pushNotification("Trade results take a 2-3 second simulated delay. Notifications will appear.");
      })();

    var anc_onglet = 'agent1';
	change_onglet(anc_onglet);
</script>


</body>
</html>

