<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Team Code</title>

    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="../../../resources/js/zone/jquery.js" th:src="@{/resources/js/zone/jquery.js}" ></script>
    <script src="../../../resources/js/zone/jquery.layout.js" th:src="@{/resources/js/zone/jquery.layout.js}" ></script>
    <script src="../../../resources/js/zone/jquery.ui.all.js" th:src="@{/resources/js/zone/jquery.ui.all.js}" ></script>
    <script src="../../../resources/js/zone.js" th:src="@{/resources/js/zone.js}" ></script>

    <script src="../../../resources/js/ace-builds-master/src-noconflict/ace.js" th:href="@{/resources/js/ace-builds-master/src-noconflict/ace.js}"></script>
    <script src="../../../resources/js/ace-builds-master/src-noconflict/ext-language_tools.js" th:href="@{/resources/js/ace-builds-master/src-noconflict/ext-language_tools.js}"></script>
    <script src="../../../resources/js/editeur.js" th:src="@{/resources/js/editeur.js}" ></script>
    <script src="../../../resources/js/pixi/pixi.js" th:src="@{/resources/js/pixi/pixi.js}" ></script>
    <script src="../../../resources/js/pixi/importTexture.js" th:src="@{/resources/js/pixi/importTexture.js}" ></script>
</head>
<body>

<div th:replace="fragments/header :: header">Header</div>

<div class="box">

    <div class="outer-center">


        <ul class="nav nav-tabs" id="myTab">
        </ul>
        <div class="tab-content" id="tab-content">
        </div>

    </div>

    <div class="outer-west">

        <div id="stream" class="middle-center">

        </div>

        <div class="ui-layout-south">

         </div>
     </div>
 </div>

<script>
buildEditor('nom');
</script>

<span id="buttons">
    <a href="#" class="btn btn-sm btn-success" id="launch-party-button">Play</a>
    <a href="#" class="btn btn-sm btn-warning">Pause</a>
    <a href="#" class="btn btn-sm btn-danger">Stop</a>
    <a href="#" class="btn btn-sm btn-primary">Save Code</a>
    <a href="#" class="btn btn-sm btn-info">Load Code</a>

</span>

 <script src="../../../resources/js/sockjs.js" th:src="@{/resources/js/sockjs.js}" ></script>
 <script src="../../../resources/js/stomp.js" th:src="@{/resources/js/stomp.js}" ></script>
 <!-- application -->
<script src="../../../resources/js/webgame.js" th:src="@{/resources/js/webgame.js}" ></script>
<script src="../../../resources/js/pixi/testMessage.js" th:src="@{/resources/js/pixi/testMessage.js}" ></script>
<script src="../../../resources/js/pixi/drawStreaming.js" th:src="@{/resources/js/pixi/drawStreaming.js}" ></script>


<script>
      (function() {
        var socket = new SockJS('/warbot');
        var stompClient = Stomp.over(socket);

        var appModel = new WebGameModel(stompClient);
        //ko.applyBindings(appModel);

        appModel.connect();
        $("#launch-party-button").click(function (event)
        {
            appModel.launchParty();

        });
        //appModel.pushNotification("Trade results take a 2-3 second simulated delay. Notifications will appear.");
      })();




</script>


</body>
</html>

