<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
</head>
<body>
    <div th:replace="fragments/header :: header">Header</div>

    <fieldset>
        <h3>Editeur de configuration</h3>

        <div class="container searchZoneTest">
            <div class="row">
                <div class="col-xs-5 col-xs-offset-0">
                    <div class="input-group">
                        <input type="hidden" name="search_param" value="all" id="search_param"/>
                        <input type="text" class="form-control" name="x" placeholder="Salle de test"/>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
                <a href="./new" class="btn btn-success">Nouvel zone de test</a>
            </div>
        </div>

        <div id="contenerTableTestZone">
            <table class="table table-bordered" id="tableListTestZone">
                <thead>
                    <tr class="titleTestZone">
                        <td class="idTestZone">ID</td>
                        <td>Nom</td>
                        <td>Description</td>
                        <td class="levelTestZone">Niveau</td>
                        <td>Créateur</td>
                        <td class="toolsTestZone">Outils</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="trainingConf : ${trainingConfigurations}" th:data="${trainingConf.id}">
                        <td class="idTestZone"><p th:text="${party.id}"></p></td>
                        <td><a name="partyName" th:href="'/party/show?id='+${party.id}" th:text="${party.name}" data-sortable="true"></a></td>
                        <td><p th:text="${trainingConf.description}"></p></td>
                        <td class="levelTestZone"><p th:text="${trainingConf.level}"></p></td>
                        <td><p> <!--th:text="${trainingConf.creator.email}"-->CREATOR NE MARCHE PAS</p></td>
                        <td class="toolsTestZone"><a href="#" class="btn btn-warning">Utiliser</a> <a href="#" class="btn btn-danger">Editer</a></td>
                    </tr>
                    <tr th:each="party : ${parties}" th:data="${party.id}">
                        <th><p th:text="${party.id}"></p></th>
                        <th><a name="partyName" th:href="'/party/show?id='+${party.id}" th:text="${party.name}" data-sortable="true"></a></th>
                        <th><p> <!--th:text="${party.creator.email}"-->CREATOR NE MARCHE PAS</p></th>
                        <th><p th:text="${party.language}"></p></th>
                        <th><p th:text="${party.eloRank}" data-sortable="true"></p></th>
                        <th><p th:text="${party.creationDate}" data-sortable="true"></p></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</body>
</html>