<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="../../../resources/images/favicon.jpg" th:href="@{resources/images/favicon.jpg}" />

    <title>Editor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.js"></script>
</head>
<body>
    <div th:replace="fragments/header :: header">Header</div>

    <fieldset>
        <h3 th:text="#{configuration-editor.select.editorConfig}" >Editeur de configuration</h3>

        <div class="container searchZoneTest">
            <div class="row">
                <div class="col-xs-5 col-xs-offset-0">
                    <div class="input-group">
                        <input type="hidden" name="search_param" value="all" id="search_param"/>
                        <input id ="searchTrainingC" type="text" class="form-control" name="x" th:placeholder="#{configuration-editor.select.nomSalle}"/>
                        <span class="input-group-btn">
                            <button id ="btn" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
                <a href="./new" th:href="@{/configuration/new}" class="btn btn-success" th:text="#{configuration-editor.select.nouvelSalle}">Nouvel salle d'entrainement</a>
            </div>
        </div>

        <datalist id="trainingC">
        </datalist>

        <div id="contenerTableTestZone">
            <table class="table table-bordered" id="tableListTestZone">
                <thead>
                    <tr class="titleTestZone">
                        <td class="idTestZone" th:text="#{configuration-editor.select.id}" >ID</td>
                        <td data-sortable="true" th:text="#{configuration-editor.select.nom}">Nom</td>
                        <td th:text="#{configuration-editor.select.description}">Description</td>
                        <td class="levelTestZone" th:text="#{configuration-editor.select.niveau}">Niveau</td>
                        <td th:text="#{configuration-editor.select.createur}" >Créateur</td>
                        <td class="toolsTestZone" th:text="#{configuration-editor.select.outils}">Outils</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="trainingConf : ${trainingConfigurations}">
                        <td class="idTestZone" th:text="${trainingConf.id}"><p></p></td>
                        <td name="tCName" th:text="${trainingConf.name}"></td>
                        <td><p th:text="${trainingConf.description}"></p></td>
                        <td class="levelTestZone"><p th:text="${trainingConf.level}"></p></td>
                        <td><p> <!--th:text="${trainingConf.creator.email}"-->CREATOR NE MARCHE PAS</p></td>
                        <td class="toolsTestZone"><a href="#" class="btn btn-warning">Utiliser</a></td>
                    </tr>
                    <script>
                        $(function() {
                            var parties = $('[name="partyName"]');
                            $.each( parties, function( index, value ){
                                $('#parties').append('<option id="'+ value +'" value="'+ value.text +'">'+ value.text +'</option>');
                            });
                        });

                        $('#btn').click(function(){
                            var textval = $('#searchTrainingC').val();
                            $('#trainingC option').each(function(){
                                if($(this).val() == textval){
                                    window.location = $(this).attr('id');
                                }
                            });
                        });
                    </script>
                </tbody>
            </table>
        </div>
    </fieldset>
</body>
</html>