<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="../../../resources/images/faviconWbO.png" th:href="@{resources/images/faviconWbO.png}"/>

    <title>Sign In</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../../../resources/css/bootstrap.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>

    <script src="../../../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>
<form class="form-narrow form-horizontal" action="#" th:object="${form}" method="post" th:action="@{/party/create}"
      th:fragment="form">
    <th:block th:if="${param.error != null}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Creation error')">Alert</div>
    </th:block>
    <fieldset>
        <legend th:text="#{forms.party.creeEquipe}">Create Team</legend>
        <div class="form-group">
            <label for="inputTeamName" class="col-lg-2 control-label" th:text="#{forms.party.nomEquipe}">Team
                name</label>

            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputTeamName" th:field="*{teamName}"
                       th:placeholder="#{forms.party.nomEquipe}" name="teamName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="inputLanguage" class="col-lg-2 control-label" th:text="#{forms.party.language}">Language</label>

            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputLanguage" name="language" value="PYTHON"
                       readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-primary" th:text="#{forms.party.creer}">Create</button>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>