<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>
<form class="form-narrow form-horizontal" action="#"  th:object="${formZone}" method="post" th:action="@{/configuration/create}"  th:fragment="formZone">
    <th:block th:if="${param.error != null}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Creation error')">Alert</div>
    </th:block>
    <fieldset>
        <legend>Create Training Zone</legend>
        <div class="form-group">
            <label for="inputTestZoneName" class="col-lg-2 control-label">Zone name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputTestZoneName" th:field="*{zoneName}" placeholder="Team zone name" name="zoneName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="inputTestZoneLevel" class="col-lg-2 control-label">Level</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputTestZoneLevel"  name="level" value="Easy" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <label for="inputTestZonedesc" class="col-lg-2 control-label">Desc</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputTestZonedesc"  name="description"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Create</button>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>