<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="../../../resources/images/faviconWbO.png" th:href="@{resources/images/faviconWbO.png}" />

    <title>Create</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>
<form class="form-narrow form-horizontal" action="#"  th:object="${formZone}" method="post" th:action="@{/configuration/create}"  th:fragment="formZone">
    <th:block th:if="${param.error != null}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Creation error')">Alert</div>
    </th:block>
    <fieldset>
        <legend th:text="#{forms.zone.creerUneZone}">Create Training Zone</legend>
        <div class="form-group">
            <label for="inputTestZoneName" class="col-lg-2 control-label" th:text="#{forms.zone.nomZone}" >Zone name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputTestZoneName" th:field="*{zoneName}" th:placeholder="#{forms.zone.nomZone}" name="zoneName"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" th:text="#{forms.zone.niveau}">Level</label>
            <div class="col-lg-10">
                <select id="inputTestZoneLevel" name="level"  class="form-control selectpicker">
                    <option value="Easy" th:text="#{forms.zone.easy}">Easy</option>
                    <option value="Medium" th:text="#{forms.zone.medium}">Medium</option>
                    <option value="Hard" th:text="#{forms.zone.hard}">Hard</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputTestZonedesc" class="col-lg-2 control-label"  th:text="#{forms.zone.description}" >Description</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="2" id="inputTestZonedesc" name="description" ></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-primary" th:text="#{forms.zone.creer}" >Create</button>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>