<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="../../../resources/images/faviconWbO.png" th:href="@{resources/images/faviconWbO.png}" />

    <title>Team List</title>

    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>
    <div th:replace="fragments/header :: header">Header</div>

    <div class="container searchTeamList">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-0">
                <div class="input-group">
                    <input type="hidden" name="search_param" value="all"/>
                    <input id ="searchParties" type="text" class="form-control" name="x" list="parties" placeholder="Team name"/>
                        <span class="input-group-btn">
                            <button id ="btn" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                </div>
            </div>
        </div>
    </div>

    <datalist id="parties">
    </datalist>


    <table id="tableListParties" class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th th:text="#{party.list.nom}" >Team name</th>
            <th th:text="#{party.list.createur}" >Creator</th>
            <th th:text="#{party.list.langage}" >Langage</th>
            <th th:text="#{party.list.rang}">Rank</th>
            <th th:text="#{party.list.outils}" >Tools</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="party : ${parties}" th:data="${party.id}">
            <th><p th:text="${party.id}"></p></th>
            <th><a name="partyName" th:href="'/party/show?id='+${party.id}" th:text="${party.name}" data-sortable="true"></a></th>
            <th><a th:href="'/account/userProfile?id='+${party.creator.id}" th:text="${party.creator.screenName}"></a></th>
            <th><p th:text="${party.language}"></p></th>
            <th><p th:text="${party.eloRank}"></p></th>
            <th><a href="#" class="btn btn-primary btn-danger"><span class="glyphicon glyphicon-flash"></span> Duel</a></th>
        </tr>
            <script>
                Spring.
                (function() {
                    var parties = $('[name="partyName"]');
                    $.each( parties, function( index, value ){
                        $('#parties').append('<option id="'+ value +'" value="'+ value.text +'">'+ value.text +'</option>');
                    });
                });

                $('#btn').click(function(){
                    var textval = $('#searchParties').val();
                    $('#parties option').each(function(){
                        if($(this).val() == textval){
                            window.location = $(this).attr('id');
                        }
                    });
                });
            </script>
        </tbody>
    </table>
    <script src="../../../resources/js/sockjs.min.js" th:src="@{/resources/js/sockjs.js}" ></script>
    <script src="../../../resources/js/stomp.min.js" th:src="@{/resources/js/stomp.js}" ></script>
</body>
</html>

