<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Team Code</title>
    <link href="../../../resources/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />

</head>
<body>

<div th:replace="fragments/header :: header">Header</div>


<div class="well">
    <span th:text="${party.name}"></span>
    <span th:text="${party.creator}">x</span>
    <table id="tableListParties" class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Login</th>
                <th>Email</th>
                <th>Activ</th>
                <th>Inscription date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="member : ${party.members}" th:data="${member.id}">
                <th><p th:text="${member.id}"></p></th>
                <th><a name="memberLogin" th:href="" th:text="${member.login}"></a></th>
                <th><p th:text="${member.email}"></p></th>
                <th><p th:text="${member.isActivated}"></p></th>
                <th><p th:text="${member.inscriptionDate}"></p></th>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/teamcode}+'?idParty='+${party.id}" class="btn btn-sm btn-success launch">Party Code</a>
</div>


</body>
</html>

