<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="../../../resources/images/favicon.jpg" th:href="@{resources/images/favicon.jpg}" />
    <link href="../../../resources/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">WarbotOnline</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:if="${#authorization.expression('isAuthenticated()')}" ><a href="#configuration" th:href="@{/configuration/list}" th:text="#{training}" >Training Configuration</a></li>
                <li th:if="${#authorization.expression('isAuthenticated()')}" ><a href="#partylist" th:href="@{/partylist}" th:text="#{vs}">Team List</a></li>
                <li th:if="${#authorization.expression('isAuthenticated()')}" ><a href="#profil" th:href="@{/account/profile}">Profile</a></li>

                <li><a href="#about" th:href="@{/about}" th:text="#{about}">About</a></li>
                <li><a href="#contact" th:href="@{/contact}" th:text="#{contact}" >Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/signin" th:href="@{/signin}" th:text="#{sign.up}">Sign up</a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();" th:text="#{logout}" >Logout</a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
</body>
</html>
